.section-about{
    background-color: $color-grey-light-1;
    padding: 30rem 0;
    margin-top: -25vh; //move up the section so it is next to the clip path we did 
}

.section-features{
    padding: 20rem 0;;
    background-image:linear-gradient(to right bottom,rgba($color-primary-light, 0.8),rgba($color-primary-dark,0.8)), url(../img/nat-4.jpg);
    background-size: cover;
    background-position: top;

    //skew the entire section
    transform: skewY(-7deg);

    //unskew the boxes we use the direct child selector for first time 
    & > *{
        transform: skewY(7deg);
    }

    //fixining the section
    margin-top: -10rem;
}