@mixin clearfix{
    &::after{
        content:""; //always have the content. empty because we dont want to see the element on the page 
        display: table; 
        clear:both; //will do the job clear float left and float right 

    }
}

@mixin absolutCenter{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}