
/*------button for the herobox -------------*/

.btn{
    &--white{
        background-color:$color-grey-dark;
        color:$color-grey-dark;

        &::after{
            background-color: $color-white;
            z-index: -1;
    
        }
    }

    &:hover{
        /*move the button up*/
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

        &::after{
            transform: scaleX(1.4) scaleY(1.6);/*το scale μεγαλωνει το element αναλογα επι οσο του βαλουμε*/
            opacity: 0;
        }
    }

    /*αφου το κανουμε click παει λιγο κατω */
    &:active{
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }

    /*pseudo element προσθετει ενα virtual element ακριβως μετα το element που εχουμε επιλεξει. Μπορουμε μετα να κανουμε οτι θελουμε με css σε αυτο το element */
    &::after{
        /*το element που θα βαλουμε εδω θα ειναι σαν το element που επιλεξαμε και θα το βαλουμε πισω απο το element ετσι ωστε οταν κανουμε hover να του λεμε να παει μπροστα.
        */
        content:""; /*ακομα και αδειο πρπει να υπαρχει */
        display: inline-block;
        height: 100%;
        width: 100%;/*ειναι σαν παιδι του οριτζιναλ ελεμεντ για αυτο δουλευουν αυτα*/
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.4s;
    }

    &--animated{
        animation: moveInBottom 1s ease-out 0.75s;
        animation-fill-mode: backwards;
    }
}
